.headerImage{
    width: 100%;
}

.landingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #012951;
}

.headerText {
    color: white;
    font-size:3.5vw;
    font-weight: bold;
}

.landingBody{
    background-color:#eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.loginButton {
    width: 30vw;
    margin-top: 5vh;
}

.loginButton a {
    text-decoration: none;
    color: white;
}

.loginForm {
    max-width: 500px;
    margin: auto;
}

.loginForm form {
    max-width: 400px;
    margin: 50px auto;
}

.loginForm form button {
    background-color: #012951;
}